security/schemas/NFSe_v2.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.abrasf.org.br/nfse.xsd"
           xmlns="http://www.abrasf.org.br/nfse.xsd"
           elementFormDefault="qualified">
    
    <xs:element name="Rps">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="InfRps" type="InfRpsType"/>
                <xs:element name="Signature" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="InfRpsType">
        <xs:sequence>
            <xs:element name="IdentificacaoRps" type="IdentificacaoRpsType"/>
            <xs:element name="DataEmissao" type="xs:dateTime"/>
            <xs:element name="NaturezaOperacao" type="xs:byte"/>
            <xs:element name="RegimeEspecialTributacao" type="xs:byte" minOccurs="0"/>
            <xs:element name="OptanteSimplesNacional" type="xs:byte"/>
            <xs:element name="Status" type="xs:byte"/>
            <xs:element name="Servico" type="ServicoType"/>
            <xs:element name="Prestador" type="PrestadorType"/>
            <xs:element name="TomadorServico" type="TomadorServicoType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="IdentificacaoRpsType">
        <xs:sequence>
            <xs:element name="Numero" type="xs:integer"/>
            <xs:element name="Serie" type="xs:string"/>
            <xs:element name="Tipo" type="xs:byte"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ServicoType">
        <xs:sequence>
            <xs:element name="Valores" type="ValoresType"/>
            <xs:element name="ItemListaServico" type="xs:string"/>
            <xs:element name="Discriminacao" type="xs:string"/>
            <xs:element name="CodigoMunicipio" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ValoresType">
        <xs:sequence>
            <xs:element name="ValorServicos" type="xs:decimal"/>
            <xs:element name="ValorDeducoes" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorPis" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorCofins" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorInss" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorIr" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorCsll" type="xs:decimal" minOccurs="0"/>
            <xs:element name="IssRetido" type="xs:byte"/>
            <xs:element name="ValorIss" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Aliquota" type="xs:decimal" minOccurs="0"/>
            <xs:element name="DescontoIncondicionado" type="xs:decimal" minOccurs="0"/>
            <xs:element name="DescontoCondicionado" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PrestadorType">
        <xs:sequence>
            <xs:element name="CpfCnpj" type="CpfCnpjType"/>
            <xs:element name="InscricaoMunicipal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TomadorServicoType">
        <xs:sequence>
            <xs:element name="CpfCnpj" type="CpfCnpjType"/>
            <xs:element name="RazaoSocial" type="xs:string"/>
            <xs:element name="Endereco" type="EnderecoType"/>
            <xs:element name="Contato" type="ContatoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CpfCnpjType">
        <xs:choice>
            <xs:element name="Cpf" type="xs:string"/>
            <xs:element name="Cnpj" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="EnderecoType">
        <xs:sequence>
            <xs:element name="Endereco" type="xs:string"/>
            <xs:element name="Numero" type="xs:string"/>
            <xs:element name="Complemento" type="xs:string" minOccurs="0"/>
            <xs:element name="Bairro" type="xs:string"/>
            <xs:element name="CodigoMunicipio" type="xs:integer"/>
            <xs:element name="Uf" type="xs:string"/>
            <xs:element name="Cep" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ContatoType">
        <xs:sequence>
            <xs:element name="Telefone" type="xs:string" minOccurs="0"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>